.plannco-about{
    

    &__content{
        // background-color: red;
    }

    &__detail{
        width: 100%;
        max-width: 500px;

        .btn-custom{
            font-size: 14px;
        }
    }

}

