.plannco-services{
    p{
        width: 100%;
        max-width: 500px;
        margin: auto;
    }

    img{
        width: 65px;
    }

    .container{

        margin-top: 30px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        grid-gap: 20px;

    }
    &__service{
        // background-color: rgb(235, 235, 235);
        width: 350px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 30px;

        p{
            text-align: center;
        }
    }

}

.plannco-services.pop-up{
    
}

@keyframes popup {
    from{
        transform:  translateY(200px);
        opacity: 0;
    }
}